<!DOCTYPE html>
<!--//thymeleaf 선언-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org"><!--// namespace-->
<head> <!--공통html 코드에서 파라미터값을 받아오면 됨-->
    <!--th:replace="fragment/common :: head('게시판')"-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="stylesheet" href="/templates/lib/css/style.css">-->

    <!-- Optional JavaScript; choose one of the two! -->


    <!--style css 적용-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <!-- favico img  -->
    <link rel="icon" href="/images/draWoo.ico">



    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Lion 게시판</title>
</head>

<body>
<main>

    <nav class="p-3 bg-dark text-white"   th:replace="/fragment/common :: menu">
        <div class="container">
        </div>
    </nav>

</main>
         <div class="container">
             <h2>Lion 게시판</h2>
             <!--search form 설정-->
             <div>총 건수 : <span th:text="${boards.totalElements}"></span></div>
             <!--form 태그 사용 시, 해당 경로로 요청을 보낼 때 사용. (url)때문에 알아서 searchText 파라미터가 전달이 된다 -->
                 <form class="row g-3 d-flex justify-content-end" method="GET" th:action="@{/board/list}">
                     <div class="col-auto">
                         <label for="searchText" class="visually-hidden">검색</label>
                         <!--th:value="${param.searcgText} -> 원하는 변수값을 담기위한 th구문-->
                         <input type="text" class="form-control" id="searchText" name="searchText" th:value="${param.searchText}" placeholder="검색어를 입력해주세요!!">
                     </div>
                     <div class="col-auto">
                         <button type="submit" class="btn btn-outline-dark mb-3" id="search__btn">검색</button>
                     </div>
                 </form>

             <table class="table table-striped">
                 <thead>
                 <tr id="table__boarder">
                     <th scope="col">번호</th>
                     <th scope="col">제목</th>
                     <th scope="col">작성자</th>
                 </tr>
                 </thead>
                 <tbody>
                 <!--리스트를 뿌리기 위해서 foreach for문을 돌려줌 dB에서 받아옴-->
                 <tr th:each="board : ${boards}">
                     <td th:text="${board.id}">Mark</td>
                     <td><a id="title__style" th:text="${board.title}" th:href="@{/board/form(id=${board.id})}"></a></td><!--파라미터로 글 번호까지 같이 전달 해준다 전달 예시는 -> @{/board/form(id=${board.id})}-->
                     <td th:text="${board.user.username}">Lion</td>
                 </tr>
               <!--  <tr>
                     <th scope="row">2</th>
                     <td>Jacob</td>
                     <td>Thornton</td>
                     <td>@fat</td>
                 </tr>
                 <tr>
                     <th scope="row">3</th>
                     <td>the Bird</td>
                     <td>the Bird</td>
                     <td>@twitter</td>
                 </tr>-->
                 </tbody>
             </table>
             <nav aria-label="Page navigation example">
                 <ul class="pagination justify-content-center">
                     <li class="page-item"  th:classappend="${1 == boards.pageable.pageNumber + 1} ? 'disabled'">
                         <!--th:href="@{/board/list[게시판의 리스트 페이지 링크를 걸어주고(page[페이지 설정]=${boards.pageable.pageNumber[현재페이지] - 1->이전 페이지로 이동 -->
                         <!--검색을 하면 검색을 전달을 안하고 있기때문에 그 부분을 searchText=${param.searcgText} 추가해줘서 해결-->
                         <!--이전 페이지-->
                         <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber - 1},searchText=${param.searcgText})}" tabindex="-1" aria-disabled="true">이전</a>
                     </li>
                     <!--페이징 처리 th:each=""i(index)-->
                     <!--실제 보고있는 페이지-->
                     <li class="page-item" th:classappend="${i == boards.pageable.pageNumber + 1} ? 'disabled'" th:each="i : ${#numbers.sequence(startPage, endPage)}">
                         <a class="page-link" href="#" th:href="@{/board/list(page=${i - 1},searchText=${param.searcgText})}" th:text="${i}">1</a>
                     </li>
                     <!--다음페이지-->
                     <li class="page-item" th:classappend="${boards.totalPages == boards.pageable.pageNumber + 1} ? 'disabled'">
                         <a class="page-link" href="#" th:href="@{/board/list(page=${boards.pageable.pageNumber + 1},searchText=${param.searcgText})}">다음</a>
                     </li>
                 </ul>
             </nav>
             <!--글 쓰기 버튼-->
             <div class="btn-right">
             <!-- 글 쓰기 버튼을 눌렀을시 -> form.html로 이동할 수 있게 만들어줌-BoardController 에서 GetMapping해서 return해준 "/board/form"주소를 써준다-->

                <a type="button" class="btn btn-outline-primary" th:href="@{/board/form}">글 쓰기</a>
             </div>
         </div>
        <footer th:replace="fragment/common :: footer"></footer>

</body>

</html>