<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    <!--style css 적용-->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <!--<link rel="stylesheet" type="text/css" th:href="@{/css/login.css}" />-->

    <!-- favico img  -->
    <link rel="icon" th:href="@{/images/draWoo.ico}">


</head>
<title>로그인Page</title>
<body>
        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- 유효하지않는 아이디와 패스워드 입력시 에러 경고창 start -->
                <h2 class="active"> Sign In </h2>
                <div th:if="${param.error}" class="alert alert-danger" role="alert">
                    유효하지 않은 아이디와 패스워드입니다.
                </div>
                <div th:if="${param.logout}" class="alert alert-primary" role="alert">
                    로그아웃 되었습니다.
                </div>
                <!-- 유효하지않는 아이디와 패스워드 입력시 에러 경고창 end -->
                <form th:action="@{/account/login}" method="post">
                    <label for="username"></label>
                    <input type="text" id="username" name="username" class="fadeIn second" placeholder="username">
                    <label for="password"></label>
                    <input type="text" id="password"  name="password" class="fadeIn third" placeholder="password">
                    <input type="submit" class="fadeIn fourth" value="로그인">
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <a class="underlineHover" href="#">Forgot Password?</a>
                </div>

            </div>
        </div>
        <div class="common__footer">
            <p class="login_footer">From made by: Lion</p>
        </div>

        <footer th:replace="fragment/common :: footer"></footer>
</body>

</html>