<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/common :: head">

</head>
<title>Hello!! Lion!!</title>
<body>


    <nav class="p-3 bg-dark text-white" th:replace="fragment/common.html :: menu">

     <!--   <div class="container" th:fragment="menu">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
                        <use xlink:href="#bootstrap"/>
                    </svg>
                </a>
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img alt="Brand" src="/images/lion.png" width="43px;" height="46px;">
                    </a>
                </div>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li class="nav-item">
                        <a href="" class="nav-link px-2 text-white">Lion</a>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link px-2 text-white">게시판</a>
                    </li>
                </ul>

                <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                    <input type="search" class="form-control form-control-dark" placeholder="Search..."
                           aria-label="Search">
                </form>

                <div class="text-end">
                    <button type="button" class="btn btn-outline-light me-2">로그인</button>
                    <button type="button" class="btn btn-warning">회원가입</button>
                </div>
            </div>
        </div>-->
    </nav>
    <!--컨텐츠 영역-->
   <!-- <div>

        <h3>라이언 홈</h3>
    </div>-->

</body>

</html>